
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,400;1,300&family=Teko:wght@300&display=swap');


*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(244, 244, 245);
}


/* Login  */

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
    overflow: hidden;
}
.lg-box{
    position : relative;
    display: flex;
    flex-direction: column;
    width : 450px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    box-shadow : 0 25px 45px rgba(0,0,0,0.1);
    border  : 1px solid rgba(255,255,255,0.5);
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
}
.lg-square{
    position : absolute;
    background: rgba(255,255,255,0.1);
    box-shadow : 0 25px 45px rgba(0,0,0,0.1);
    border  : 1px solid rgba(255,255,255,0.5);
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    border-radius : 10px;
    animation: animate 10s linear infinite;
    animation-delay : calc(-.1s * var(--i));
}
@keyframes animate {
    0%,100%{
        transform : translateY(-40px);
    }
    50%{
        transform : translateY(40px);
    }
}
.lg-box .lg-square:nth-child(1){
    top : -50px;
    right:-60px;
    width : 100px;
    height : 100px;
    z-index: 2;
}
.lg-box .lg-square:nth-child(2){
    top : 150px;
    left:-100px;
    width : 120px;
    height : 120px;
    z-index: 2;
}
.lg-box .lg-square:nth-child(3){
    bottom : 50px;
    right:-60px;
    width : 80px;
    height : 80px;
    z-index: 2;
}
.lg-box .lg-square:nth-child(4){
    top : -80px;
    left: 140px;
    width : 50px;
    height : 50px;
}
.lg-box .lg-square:nth-child(5){
    bottom : -80px;
    left: 140px;
    width : 60px;
    height : 60px;
}
.lg-head{
    text-align: center;
    padding : 20px 0;
    color :  rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
.lg-box .input-in{
    border-radius: 7px;
    padding : 18px;
    width : 370px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    outline : none;
    border :none;
    background: rgba(255,255,255,0.2);
    border-radius : 35px;
    border  : 1px solid rgba(255,255,255,0.5);
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
}
.input-out{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lg-button{
    width : 100%;
    display : flex;
    justify-content: center;
}
#log_in{
    color:White;
    background-color: rgb(7, 7, 7);
    border : none;
    width : 50%;
    border-radius: 7px;
    padding:15px;
    margin: auto;
    margin-top: 20px; 
    font-weight: bolder;
    font-size: 15px;
}
#log_in:hover{
    cursor: pointer;
    background-color:rgb(255, 255, 255);
    border  : 1px solid rgba(255, 255, 255, 0.411);
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
    transition: 0.3s;
    color : black;
}
.lg-box  input[type=text]:focus,input[type=email]:focus,.login  input[type=password]:focus{
    border:1px solid rgb(250, 251, 252);
    box-shadow: 0 0 5px #646668;
    caret-color: rgb(4, 4, 4);
}
.mild-line{
    width : 93%;
    opacity: 0.2;
    margin:auto;
    margin-top: 20px; 
}
.lg-below{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.lg-link{
    text-decoration: none;
    padding : 0 10px;
    font-weight:600 ;
    color :  rgb(11, 85, 245);
}
/* Login CSS */
.login .color{
    position: absolute;
    filter : blur(170px);
}
.login .color:nth-child(1){
    top : -350px;
    width : 600px;
    height : 600px;
    background-color: #939293;
}
.login .color:nth-child(2){
    bottom:0px;
    left : 100px;
    width : 500px;
    height : 300px;
    background-color: #f9fece;
}
.login .color:nth-child(3){
    bottom : 50px;
    right : 100px;
    width : 300px;
    height : 300px;
    background-color: #747474;
}
.b1{
    --i: 0;
}
.b2{
    --i: 1;
}

.b3{
    --i: 2;
}

.b4{
    --i: 3;
}
.b5{
    --i :4;
}
/* Chat */
.Chat {
    background: url('../src/Chat/Img/gradient3.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.Chat::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.ct-box{
    border-radius: 30px;
    margin : 15px;
    background: rgba(255,255,255,0.25);
    box-shadow : 0 25px 45px rgba(0,0,0,0.1);
    border  : 1px solid rgba(255,255,255,0.5);
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 20;
}
.section{
    display: flex;
    justify-content: space-around;
}
.ap-left{
    width : 35%;
}
.nav-lower{
    margin-left: -55px;
    margin-top: -20px;
}
.ap-right{
    background: rgba(255,255,255,0.2);
    border-radius : 25px;
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 5px #646668;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-search{
    background: rgba(255,255,255,0.2);
    border-radius : 25px;
    border-right  : 1px solid rgba(255,255,255,0.2);
    border-bottom  : 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 5px #646668;
    display: flex;
    padding : 5px;
    margin : 30px 20px 0 20px;

}
.post-search input{
    background: transparent;
    border : none;
    outline : none;
    width : 500px;
    align-items: center;
}
.search-label{
    color :rgba(255,255,255,1);
    margin: 2px 5px 0 5px;
}
.post-search input:focus .post-search {
    border: 1px solid white;
}
  